.Menu{
    width: 194px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right:40px;
 
    background-color: var(--text-input-field);
}

.Menu ul{   
    list-style: none;
    padding: 0;
    margin:0;
    
}
.Menu li{
    text-align: end;
}

.Menu li:nth-child(1),
.Menu li:nth-child(2){
    font-weight: bold;
}

.Menu li a{
    text-decoration: none;
    font-size: var(--md);
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;  
}
.Menu li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.Menu li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

@media(max-width:640px){
    .Menu{
        display: none;
    }
}