.MobileMenu{
    width: 194px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    // right:40px;
    left:0px;
    background-color: var(--text-input-field);

}

.MobileMenu_ul{   
    list-style: none;
    padding: 0;
    margin:0;
    
}
.MobileMenu_li{
    text-align: end;
}

.MobileMenu_li:nth-child(1),
.MobileMenu_li:nth-child(2),
.MobileMenu_li:nth-child(3){
    font-weight: bold;
}

.MobileMenu_li a{
    text-decoration: none;
    font-size: var(--md);
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;  
}
.MobileMenu_li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.MobileMenu_li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}


.MobileMenu_categories{
    text-decoration: none;
    font-size: var(--md);
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;
    list-style: none;
    width: 90%;
    border-top: 1px solid var(--very-light-pink);
    padding-top: 10px;  
}


