@import './global/global.scss';

.MobileMenu_container{
    width: 100%;
    height: 93vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    left: 0px;
    top: 60px;
}

.MobileMenu{
    width: 194px;
    height: auto;
    border: 1px solid $--very-light-pink;
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    position: absolute;
    top:60px;
    // right:40px;
    left:0px;
    background-color: $--text-input-field;
    z-index: 1;

}

.MobileMenu_ul{   
    list-style: none;
    padding: 0;
    margin:0;
    
}
.MobileMenu_li{
    text-align: end;
}

.MobileMenu_li:nth-child(1),
.MobileMenu_li:nth-child(2),
.MobileMenu_li:nth-child(3){
    font-weight: bold;
}

.MobileMenu_li a{
    text-decoration: none;
    font-size: $--md;
    color: $--black;
    display: inline-block;
    margin-bottom: 20px;
    list-style: none;
}

.MobileMenu_categories{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: $--md;
    color: $--black;
    font-weight: bold;
    margin-bottom: 20px;  
}


.MobileMenu_li:last-child {
    padding-top: 20px;
    border-top: 1px solid $--very-light-pink;
}
.MobileMenu_li:last-child a{
    color: $--hospital-green;
    font-size: $--sm;
}




