@import './global/global.scss';

.MyOrder{
    width: 360px;
    padding: 24px;
    position: absolute;
    right: 0;
    top:60px;
    background-color: $--white;
    z-index: 2;
    cursor: default;
}

.title-container{
  display: flex;   
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.title{
    font-size: $--lg;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.my-order-content{
    max-height: 56vh;
    overflow: auto;
}

.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16 px;
    align-items: center;
    background-color: $--text-input-field;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 10px 24px;

}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p:nth-child(2){
    text-align: right;
    font-weight: bold;
}
.order p span:nth-child(1){
    font-size: $--md;
    font-weight: bold;
}

.order p span{
    display: inline-block;
}

.primary-button{
    background-color: $--hospital-green;
    border: none;
    border-radius: 12px;
    height: 44px;
    color: $--white;
    cursor: pointer;
    width: 100%;
    font-size: $--md;
    font-weight: bold;
}

@media(max-width: 640px){
    .MyOrder{
        width: 100%;
    }
    
    .my-order-content{
        max-height: 50vh ;
        overflow: auto;
    }
}