@import './global/global.scss';

.Order{
    display: flex;
    justify-content: space-between;
    margin: 12px 0 12px 0;
    font-size: $--md;
    font-weight: bold;    
}
.Order p:nth-child(1){
    display: flex;
    flex-direction: column;
    place-self: center;
   
}
.Order p:nth-child(2){
    display:flex;
    justify-content: center;
    align-items: center;
}
.Order p:nth-child(1) :last-child{
    color: $--very-light-pink;
    font-size: $--sm;
    font-weight: normal;
}
.Order p:nth-child(2) img{
    margin-left: 20px;
}