@import './global/global.scss';

.ProductInfo{
    margin: 24px 24px 0 24px;
    cursor: default;
}
.ProductInfo p:nth-child(1){
    font-size: $--md;
    font-weight: bold;
    margin: 0 0 4px 0;
}
.ProductInfo p:nth-child(2){
    font-size: $--md;
    color: $--very-light-pink;
    margin: 0 0 36px 0;
}
.ProductInfo p:nth-child(3){
    font-size: $--sm;
    margin: 0 0 36px 0;
}


.primary-button{
    background-color: $--hospital-green;
    border: none;
    border-radius: 12px;
    height: 44px;
    color: $--white;
    cursor: pointer;
    width: 100%;
    font-size: $--md;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img{
    overflow: auto;
}