@import './global/global.scss';

.ProductDetail{
    width: 460px;
    padding-bottom: 24px;
    position: fixed;
    right: 0;
    top:60px;
    z-index: 1;
    background: $--blur;
    border: 1px solid $--hospital-green;
    box-shadow: -15px 30px 31px rgba(0,0,0,0.56) ;

}

.ProductDetail-close{
    background: $--white;
    width: 14px;
    height: 14px;
    top:12px;
    left: 12px;
    position: absolute;
    padding: 12px;
    border-radius: 50%;
    z-index: 2;
}
.ProductDetail-close img{
    top: 6px;
    position: absolute;
    left: 6px;
}
.ProductDetail-close:hover{
    cursor: pointer;
}
.ProductDetail > img:nth-child(2){
    width: 100%;
    height: 260px;
    object-fit: fill;
    border-radius: 0 0 20px 20px;
}

@media(max-width: 640px){
    .ProductDetail{
        width: 100%;
        top:0;
    }
}