@import './global/global.scss';

.ProductItem{
    width: 240px;
   // height: 240px;
   cursor: default;
}
.product-img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; /*indica que la imagen se adecuara al tamañano del elemento que la contiene*/
}
.product-info{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.product-info-text p{
    margin: 0px 0px 4px 0px
}
.product-info-text p:nth-child(1){
    font-weight: bold;
    font-size: $--md;
}
.product-title-container{
    font-size: $--md;
    color: $--very-light-pink;
}
.product-title{
    cursor: pointer;
}

.figure-container{
    display: flex;
}
.product-info-figure-img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.product-info-figure-img-added{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

@media (max-width: 640px){
    .ProductItem{
        width: 140px;
    }
    .product-img{
        width: 140px;
        height: 140px;
    }
    .product-info-figure-img{
        width: 24px;
        height: 24px;
    }
    .product-info-figure-img-added{
        width: 32px;
        height: 32px;
    }
    .product-info-text p:nth-child(1){
        font-weight: bold;
        font-size: $--sm;
    }
    .product-info-text p:nth-child(2){
        font-size: $--sm;
        color: $--very-light-pink;
    }
}