@import './global/global.scss';

.SendEmail{
    width: 100%;
    height: 100vh;
    display:grid;
    place-items: center; 
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
    
}
.logo{
    width: 150px;
    margin-bottom: 44px;
    justify-self: center;
    display:none;
}

.title-center{
    font-size: $--lg;
    margin-bottom: 8px;
    text-align: center;
}
.subtitle{
    font-size: $--md;
    color: $--very-light-pink;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 28px;
    text-align: center;
}

.email-image{
    display: flex;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: $--text-input-field;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px ;
}
.email-image img{
    height: 62px;
}

.primary-button{
    background-color: $--hospital-green;
    border-radius: 12px;
    border:none;
    color: $--white;
    width:100%;
    cursor:pointer;
    font-size: $--md;
    font-weight: bold;
    height: 44px;
}
.login-button{
    margin: 14px 0px 28px 0px;
}
.resend{
    font-size: $--sm;
}
.resend span{
    color: $--very-light-pink;
}
.resend a{
    color:$--hospital-green;
    text-decoration: none;
    
}

@media (max-width:640px){
    .logo{
        display: block;
    }
    .resend{
        margin-bottom: 20px;
    }

}